<%= form_for order_item do |f| %>
                    <tbody>
                        <tr>
                            <td><%= image_tag(image_path("#{product.image_url}"), :height => "60px",:width => "80px") %></td>
                            <td><%= product.tittle %></td>
                            <td><div class="col-xs-4">
                                  <%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1 %>
                                  <%= f.hidden_field :product_id, value: product.id %>
                                </div></td>
                            <td><div class="btn-group">
                                <%= f.submit "Update Quantity", class: "btn btn-primary" %>
                                <%= link_to "Delete", order_item, { data: { confirm: "Are you sure you wish to delete the product '#{order_item.product.tittle}' from your cart?" }, method: :delete, class: "btn btn-danger" } %>
                              </div>
                            </td>       
                            <td class="text-right"><%= number_to_currency order_item.unit_price %></td>
                            <td class="text-right"><%= number_to_currency order_item.total_price %></td>
                        </tr>
                    </tbody>
                     <% end %>
                     