
<br><br><br>
<h3>Product Tittle:                     <%= @product.tittle %></h3><br>
                    
<h3>Product Description:                <%= @product.description %></h3><br>
<h3>Product Price:                      <%= @product.price %></h3><br>
<h3>Category:                           <%= @product.category.name %></h3><br>
<h3>Product Image:  </h3><br>
<%= image_tag(image_path("#{@product.image_url}"), :height => "200px",:width => "230px") %>

