<%= render partial: "navbar" %>
<div class="container">
<br><br><br><br>
<h3>Product Tittle:                             	 <%= @product.tittle %></h3><br>
<h3>Product Description:                             <%= @product.description %></h3><br>
<h3>Product Price:                             		 <%= @product.price %></h3><br>
<h3>Category:                             			 <%= @product.category.name %></h3><br>
</div>